# Python-related files
*.pyc
*.pyo
*.pyd
__pycache__/

# Django-related files
*.sqlite3
db.sqlite3
media/
static/images

# Environment variables and credentials
.env
*.env

# Virtual environment folder (if you use one)
machine_learning/pycaret_env/
venv/
env/
ENV/

# IDEs and text editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# PyCharm project files
.idea/

# Jupyter Notebook files
.ipynb_checkpoints

# System files
.DS_Store
Thumbs.db